body {
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    flex-direction:column;
    font-family: "Inter","Segoe UI",Helvetica,Arial,sans-serif;
}

h3 {
    color:rgba(18, 18, 18, 0.75);
}

button {
    background-color: rgb(39,174,96);
    font-size:18px;
    font-weight: 500;
    color: rgb(255,255,255);
    white-space: normal;
    appearance: none;
    backface-visibility: hidden;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 0.75em;
}

.startScreen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5em;
    
}

.gameScreen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2em;
    max-width: 320px;
}

.gameOverScreen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3em;
    max-width: 320px;
}

.alphabetsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 288px;
}

.gameWord {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    word-wrap: break-word;
    letter-spacing: 5px;
    max-width: 288px;
    line-height: 45px;
}

.alphabets {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: 4px;
    cursor:pointer;
    box-sizing: border-box;
    border: 1px black;
    width: 24px;
    border-style: dotted;
}

.wrongLetter {
    text-decoration: line-through;
    text-decoration-style: double;
    text-decoration-color: darkred;
    background-color: darkgray;
}

.rightLetter {
    background-color: aquamarine;
}

#gameOverImage {
    max-width: 250px;
    max-height: 250px;
    height:auto;
    width: auto;
}
